.navbar-brand {
    margin-left: 5em;
    margin-right: 36em;
}

.rowCustom {
    height: 4em;
}

.box-1 {
    margin-top: 2em;
}

.box-2 {
    margin-top: 2em;
}


.box-3 {
    padding-top: 2em;
    margin-top: 2em;
}